# Variables
---

### Variables Numéricas

In [1]:
#Vamos a crear nuestras primeras variables en Python
x = 12

In [2]:
x

12

In [3]:
y = 13.5

In [4]:
y

13.5

In [5]:
#Visualizamos el tipo de dato de x
type(x)

int

In [6]:
#Visualizamos el tipo de dato de y
type(y)

float

In [7]:
#Veamos mas ejemplos:
x = 5
y = "Jorge"
print(x)
print(y)

5
Jorge

In [8]:
#Si deseamos definir el tipo de dato de una variable podemos por ejmplo hacer lo
# siguiente:
x = str(5)    # x sera '5'
y = int(5)    # y sera 5
z = float(5)  # z sera 5.0

In [9]:
print(x)
print(y)
print(z)

5
5
5.0

In [10]:
#Importante: Python es Case Sentitive, el siguiente codigo creara 2 variables:
a = 4
A = "Eva"
print(a)
print(A)

4
Eva

Nombres aceptados para las variables:

In [11]:
myvar = "Variable"
my_var = "Variable"
_my_var = "Variable"
myVar = "Variable"
MYVAR = "Variable"
myvar2 = "Variable"

Nombres no aceptados para las variables:

In [13]:
#Muchos valores para múltiples variables
x, y, z = "Oso", "Perro", "Gato"

print(x)
print(y)
print(z)

Oso
Perro
Gato

In [14]:
#Un valor para múltiples variables
x = y = z = "Mario"
print(x)
print(y)
print(z)

Mario
Mario
Mario

In [15]:
#Ejercicio 1: Crea una variable llamada Auto y asignale el valor de Mercedes Benz.

Auto = "Mazda"

In [16]:
#Ejercicio 2: Elimine los caracteres ilegales en el nombre de la variable:
#kebab-case No permitido para nombres de variables!!!
#snake_case
#PascalCase
#camelCase

mi_primer_nombre = "Maria"

In [17]:
#Ejercicio 3: Cree una variable llamada curso y asígnele el valor Python.

curso = "Python"

## Conversión de variables numéricas

In [18]:
x = 4.6
y = 5.4

In [19]:
#Con esta función estamos convirtiendo a la variable x en una variable de tipo int
z = int(x)
z

4

In [20]:
#La función round redondea el número al valor superior más próximo
z = round(x)
z

5

In [21]:
#Veamos nuevamente el tipo de dato de x
x = 4
type(x)

int

In [22]:
#Convertimos en flotante
z = float(x)
z

4.0

In [23]:
type(z)

float

# Strings
---

In [24]:
saludo = "Hola mundo!"

In [25]:
type(saludo)

str

In [26]:
print(saludo)

Hola mundo!

In [27]:
#Cadenas multilínea
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Formateo de Strings: Si yo intento combinar strings con nros obtendremos un error:
edad = 36
txt = "Mi nombre es John, y tengo " + edad
print(txt)

In [37]:
# Funcion format()
edad = 37
nombre = 'Jorge'
txt = "Mi nombre es {} y tengo {} años"
print(txt.format(nombre, edad))

""" La primera línea edad = 36 declara una variable llamada edad y le asigna el valor de 36.
La segunda línea txt = "Mi nombre es John, y tengo {}" declara una variable llamada txt y le asigna una
cadena de texto. La cadena contiene un marcador de posición {} que será reemplazado por el
valor de la variable edad más adelante.
La tercera línea print(txt.format(edad)) utiliza el método format() para formatear la cadena
txt e insertar el valor de la variable edad en el marcador de posición. El método format() toma el argumento
edad y lo coloca en el lugar del marcador de posición en la cadena txt. Luego, la función print() muestra el
resultado en la consola."""

# otra manera de hacerlo ---> cambio de tipo de dato en concatenacion
txt2 = "Mi nombre es "+nombre+" y tengo "+str(edad)+" años"
print(txt2)

# otra forma mas --> f-strings

txt3 = f'Mi nombre es {nombre} y tengo {edad} años'
print(txt3)

Mi nombre es Jorge y tengo 37 años
Mi nombre es Jorge y tengo 37 años
Mi nombre es Jorge y tengo 37 años